* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  section {
    width: 50%;
  }
  .left {
    padding: 20px;
    background-color: #000;
    height: 100%;
  }
  h1{
    color: rgba(87, 90, 133, 1);
    font-weight: 700;
  }
  p{
    color: rgba(184, 188, 204, 1);
    margin: 20px 0 75px 0;
    font-weight: 400;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  span{
    color: rgba(255, 255, 255, 1); 
    font-weight: 700;
    font-size: 32px;
  }
  button {
    background-color: transparent;
    border: 2px solid #b8bccc;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    height: 70px;
    width: 300px;
  }
  button:hover {
    background-color: white;
    color: black;
  }
  .right {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #575a85;
  }